name: CI

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: See project files
        run: ls -la

      - name: Cat server.js
        run: cat server.js

      - name: Build Docker image
        run: docker build -t hello-node:test .
